Masterplan/Web References/Compendium/compendiumsearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ww2.wizards.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ww2.wizards.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ww2.wizards.com">
      <s:element name="KeywordSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnly" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tab" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeywordSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeywordSearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeywordSearchWithFilters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnly" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeywordSearchWithFiltersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeywordSearchWithFiltersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tab" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAllResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilterSelect">
        <s:complexType />
      </s:element>
      <s:element name="GetFilterSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilterSelectResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KeywordSearchSoapIn">
    <wsdl:part name="parameters" element="tns:KeywordSearch" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchSoapOut">
    <wsdl:part name="parameters" element="tns:KeywordSearchResponse" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:KeywordSearchWithFilters" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:KeywordSearchWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAllSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAll" />
  </wsdl:message>
  <wsdl:message name="ViewAllSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilterSelectSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilterSelect" />
  </wsdl:message>
  <wsdl:message name="GetFilterSelectSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilterSelectResponse" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchHttpGetIn">
    <wsdl:part name="Keywords" type="s:string" />
    <wsdl:part name="NameOnly" type="s:string" />
    <wsdl:part name="Tab" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersHttpGetIn">
    <wsdl:part name="Keywords" type="s:string" />
    <wsdl:part name="Tab" type="s:string" />
    <wsdl:part name="Filters" type="s:string" />
    <wsdl:part name="NameOnly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ViewAllHttpGetIn">
    <wsdl:part name="Tab" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ViewAllHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetFilterSelectHttpGetIn" />
  <wsdl:message name="GetFilterSelectHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchHttpPostIn">
    <wsdl:part name="Keywords" type="s:string" />
    <wsdl:part name="NameOnly" type="s:string" />
    <wsdl:part name="Tab" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersHttpPostIn">
    <wsdl:part name="Keywords" type="s:string" />
    <wsdl:part name="Tab" type="s:string" />
    <wsdl:part name="Filters" type="s:string" />
    <wsdl:part name="NameOnly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeywordSearchWithFiltersHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ViewAllHttpPostIn">
    <wsdl:part name="Tab" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ViewAllHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetFilterSelectHttpPostIn" />
  <wsdl:message name="GetFilterSelectHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="CompendiumSearchSoap">
    <wsdl:operation name="KeywordSearch">
      <wsdl:input message="tns:KeywordSearchSoapIn" />
      <wsdl:output message="tns:KeywordSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <wsdl:input message="tns:KeywordSearchWithFiltersSoapIn" />
      <wsdl:output message="tns:KeywordSearchWithFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <wsdl:input message="tns:ViewAllSoapIn" />
      <wsdl:output message="tns:ViewAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <wsdl:input message="tns:GetFilterSelectSoapIn" />
      <wsdl:output message="tns:GetFilterSelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompendiumSearchHttpGet">
    <wsdl:operation name="KeywordSearch">
      <wsdl:input message="tns:KeywordSearchHttpGetIn" />
      <wsdl:output message="tns:KeywordSearchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <wsdl:input message="tns:KeywordSearchWithFiltersHttpGetIn" />
      <wsdl:output message="tns:KeywordSearchWithFiltersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <wsdl:input message="tns:ViewAllHttpGetIn" />
      <wsdl:output message="tns:ViewAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <wsdl:input message="tns:GetFilterSelectHttpGetIn" />
      <wsdl:output message="tns:GetFilterSelectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompendiumSearchHttpPost">
    <wsdl:operation name="KeywordSearch">
      <wsdl:input message="tns:KeywordSearchHttpPostIn" />
      <wsdl:output message="tns:KeywordSearchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <wsdl:input message="tns:KeywordSearchWithFiltersHttpPostIn" />
      <wsdl:output message="tns:KeywordSearchWithFiltersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <wsdl:input message="tns:ViewAllHttpPostIn" />
      <wsdl:output message="tns:ViewAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <wsdl:input message="tns:GetFilterSelectHttpPostIn" />
      <wsdl:output message="tns:GetFilterSelectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompendiumSearchSoap" type="tns:CompendiumSearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KeywordSearch">
      <soap:operation soapAction="http://ww2.wizards.com/KeywordSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <soap:operation soapAction="http://ww2.wizards.com/KeywordSearchWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <soap:operation soapAction="http://ww2.wizards.com/ViewAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <soap:operation soapAction="http://ww2.wizards.com/GetFilterSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompendiumSearchSoap12" type="tns:CompendiumSearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KeywordSearch">
      <soap12:operation soapAction="http://ww2.wizards.com/KeywordSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <soap12:operation soapAction="http://ww2.wizards.com/KeywordSearchWithFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <soap12:operation soapAction="http://ww2.wizards.com/ViewAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <soap12:operation soapAction="http://ww2.wizards.com/GetFilterSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompendiumSearchHttpGet" type="tns:CompendiumSearchHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="KeywordSearch">
      <http:operation location="/KeywordSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <http:operation location="/KeywordSearchWithFilters" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <http:operation location="/ViewAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <http:operation location="/GetFilterSelect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompendiumSearchHttpPost" type="tns:CompendiumSearchHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="KeywordSearch">
      <http:operation location="/KeywordSearch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeywordSearchWithFilters">
      <http:operation location="/KeywordSearchWithFilters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAll">
      <http:operation location="/ViewAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterSelect">
      <http:operation location="/GetFilterSelect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompendiumSearch">
    <wsdl:port name="CompendiumSearchSoap" binding="tns:CompendiumSearchSoap">
      <soap:address location="http://www.wizards.com/compendiumsearch.asmx" />
    </wsdl:port>
    <wsdl:port name="CompendiumSearchSoap12" binding="tns:CompendiumSearchSoap12">
      <soap12:address location="http://www.wizards.com/compendiumsearch.asmx" />
    </wsdl:port>
    <wsdl:port name="CompendiumSearchHttpGet" binding="tns:CompendiumSearchHttpGet">
      <http:address location="http://www.wizards.com/compendiumsearch.asmx" />
    </wsdl:port>
    <wsdl:port name="CompendiumSearchHttpPost" binding="tns:CompendiumSearchHttpPost">
      <http:address location="http://www.wizards.com/compendiumsearch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>